<div class="center-block"><%= img_tag(Routes.static_path(@conn, "/images/logo-pag-academy.svg")) %></div>
<p class="bottom-message">Quer contribuir? acesse o slack <a target="blank" href="https://slack.com/share/IUVKW4B6Y/8cHiIyduSNGGqRnduGafpvZ1/enQtOTgxNjc2MTQ3MjM2LTU0OWFiN2M4MWY3MTk2NzE1ZGM0MzlmNzcyZTE0ODg4ZWQ5NTZlOTc5NGUxOWFhMWRkNjMzZGE3ODY5YjE4OTc" class="orange">#pag-academy</a></p>